.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.btn {
    background-color: green;
    color: #fff;
    border-radius: 9px;
    text-transform: capitalize;
    cursor: pointer;
    height: 50px;
    width: 50vh;
}

#box {
    width: 90%;
    border: 2px solid black;
    margin-top: 10px; 
}

#button {
    margin-top: 10px;
}

.img {
    margin: 10px;
    height: 45vh;
    width: 45vh;
    border-radius: 10px;
}
